{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}
{% form_theme formImage 'bootstrap_5_layout.html.twig' %}
{% block body %}


    <img width="150px" src="{{ vich_uploader_asset(image) }}" alt="">


    {{ form_start(formImage) }}
    {{ form_row(formImage.imageFile) }}
    <button type="submit" class="btn btn-success">send</button>
    {{ form_end(formImage) }}
{% endblock %}
